{% extends "layout.html" %}
{% block content %}
    <h2>View Bubble Tea: {{ bt_entries[0].name }}</h2>
    <h3>Address: {{ bt_entries[0].address }}</h3>
     <h3>Phone: {{ bt_entries[0].phone }}</h3>

    <h3>Drinks</h3>
    {% for entry in sd_entries %}
        <p class=entry>
	  {{ entry.drink }}<br>
        </p>
	{% endfor %}
     <h3>Add Drink <a href="{{ url_for('add_drink', bub=bt_entries[0].name) }}">click here!</a></h3>
{% endblock %}
