<!doctype html>
<html>
  <img src = "{{ url_for('static', filename='bubtop.png') }}" width="100%">
<title>My Visitors</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    {% block content %}{% endblock %}
</div>
<img src = "{{ url_for('static', filename='bubbottom.png') }}" width="100%">
</html>
