{% extends "layout.html" %}
{% block content %}
    <h2>Add Image</h2>
    <form action="{{ url_for('add_image', drink=drink) }}" method=post>
      <p class="heading">Image URL: <input type=text name=url>
		<p><input type=submit value=Add_Image></p>
    </form>
{% endblock %}
