{% extends "layout.html" %}
{% block content %}
    <h2>Add Bubble Tea</h2>
    <form action="{{ url_for('add_bubtea') }}" method=post>
	<p class="heading">Name: <input type=text name=name>
	<p class="heading">Address: <input type=text name=address>
        <p class="heading">Phone:
	<textarea rows=5 cols=50 name=phone></textarea></p>
	<p><input type=submit value=Add_Bubtea></p>
    </form>
{% endblock %}
