{% extends "layout.html" %}
{% block content %}
    <h2>Add Drink</h2>
    <form action="{{ url_for('add_drink', bub=bub) }}" method=post>
      <p class="heading">Drink: <input type=text name=drink>
		<p><input type=submit value=Add_Drink></p>
    </form>
{% endblock %}
