{% extends "layout.html" %}
{% block content %}
    <h2>Bubble Tea: Guide</h2>

     <h3>Bubble Teas Stores</h3>
    {% for entry in bt_entries %}
<p class=entry> {{ entry.name }}
  <a href="{{ url_for('view_bubtea', bub=entry.name, lang='eng') }}" >English</a>
  &nbsp;
   <a href="{{ url_for('view_bubtea', bub=entry.name, lang='esp') }}" >Spanish</a>
</p>
{% endfor %}
     <h3>Add a Bubble Tea store <a href="{{ url_for('add_bubtea') }}"> click here!</a></h3>
     

<h3>Sign our guestbook! <a href="{{ url_for('sign') }}">here</a></h3>
{% endblock %}
